.workProcess{
    background: #071f43;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}

/* ========= Work Top ========= */

.work-top{
    text-align: center;
    color: #fff;
}

.work-top h2{
    font-size: 18px;
    font-weight: 600;
    color: rgb(76, 76, 236);
}

.work-top h1{
    font-size: 40px;
}

.work-top p{
    font-size: 17px;
    color: #ccc;
    padding: 0 20vw;
}

/* ========= Work Cards ========= */

.work-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    padding: 5vw 0;
}

.work-card{
    position: relative;
    padding: 3vw;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0rem 1.5rem 0 rgba(255, 254, 254, 0.2);
}

.work-card h2{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.work-card p{
    font-size: 16px;
    font-weight: 500;
    color: #5c5c5c;
    text-align: center;
}

/* ========= Work Bottom Cards ========= */

.work-bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding: 3vw 0;
}

@media(max-width: 800px){

    .workProcess{
        padding: 7vw 3vw;
    }

    .work-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
        padding: 5vw;
    }

    .work-bottom{
        display: flex;
        gap: 7vw;
    }

}

@media(max-width: 500px){

    .work-top h3{
        font-size: 18px;
    }

    .work-top h1{
        font-size: 35px;
    }

    .work-top p{
        font-size: 17px;
        padding: 3vw;
    }

    .work-cards{
        display: grid;
        grid-template-columns: 1fr;
        padding: 5vw 7vw;
        gap: 5vw;
    }

    .work-card{
        padding: 5vw;
    }

    .work-bottom img{
        width: 55vw;
    }
}

@media(max-width: 350px){
    .work-cards{
        padding: 5vw;
    }
}